.heading{
    width: 100%;
    margin-top: 0px;
    font-family: 'Gamja Flower', cursive;
}
.heading h3{
    display: inline;
    font-size: 40px;
}
.heading button{
    float: right;
    border: white 1px solid;
}
.bigImg{
    width: 100%;
}
#startBtn, #status{
    font-size: 22px;
}
h4{
    background-color: #acbce3;
    line-height: 3;
    margin: 0px;
}
.modal-dialog{
    width:90%;
}
.instructionsImg{
    display: inline-block;
    width:45%;
}
video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}

